body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#menu{
    height: 60px;
    background: salmon;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

a{
    color: antiquewhite;
    display: inline-block;
    text-decoration: none;
    height: 60px;
    width: 150px;
    text-align: center;
    line-height: 60px;
}

a:hover{
    background: white;
    color: black;
}

.divisor{
    height: 4px;
    background: red;
}

#header{
    height: 420px;
    background: salmon;
    text-align: center;
}

h1{
    color: antiquewhite;
    font-size: 76px;
    padding-top: 80px;
    margin: 0;
}

h2{
    font-size: 36px;
    color: antiquewhite;    
}

.boton{
    height: 60px;
    width: 140px;
    background: black;
    color: white;
    border-radius: 5px;
}

#contenido{
    margin-top: 40px;
    margin-left: 40px;
}

.titulo{
    color: slategray;
}

p{
    color: slategray;
}